<tr>
    <th scope="row">1</th>
    <td>UserName</td>
    <td>example@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn btn-dark">Update</a>
        <a href="" class="btn btn-danger">Danger</a>
    </td>
  </tr>